/* Reset CSS */

@font-face {
  font-family: SVN-Segoe;
  src: url(/src/assets/fonts/SVN-Segoe\ UI.ttf);
}

:root {
  --font-family: SVN-Segoe, Lexend-Medium, sans-serif;
}

.open-block {
  display: block !important;
}

.open-flex {
  display: flex !important;
}

/* COMMON */
.dashed-line {
  border-top: 1px dashed #000;
  width: 100%;
  margin: 20px 0;
}

.fa-padding-left-5px {
  padding-left: 5px;
}

.flex-item-right {
  margin-left: auto;
}

.z-index-10 {
  z-index: 10;
}

.z-index-20 {
  z-index: 20;
}

.fontSize-14px {
  font-size: 14px;
}

.fontSize-12px {
  font-size: 12px;
}

.fontSize-13px {
  font-size: 13px;
}

.fontSize-16px {
  font-size: 16px;
}

.fontSize-32px {
  font-size: 32px;
}

.fontSize-64px {
  font-size: 64px;
}

.borderRadius-10px {
  border-radius: 10px;
}

.borderRadius-100px {
  border-radius: 100px;
}

.box-shadow-normal {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.with-720px {
  width: 720px;
}

.text-uppercase {
  text-transform: uppercase;
}

/* CUSTOM BOOTSTRAP */
.custom-col-20percent {
  width: 30% !important; /* Đảm bảo không vượt quá 20*/
  /* Luôn chiếm 20% */
}

/* COLOR - UI (MAYBE CHANGE)*/
:root {
  /* UI colors */
  --ui-white: #ffffff;
  --ui-black: #000000;
  --ui-background: #f2f4f7;
  --ui-hover: #e8ecf0;

  --ui-blue: #0866ff;

  /* Text colors */
  --text-primary: #000000;
  --text-blue: #0866ff;
  --text-secondary: rgb(101, 104, 108);
}

/* COLOR - TEXT (MAYBE CHANGE)*/

:root {
  --mainBlack-textColor: #00283a;
}

:root {
  --mainColor-textColor: #afb42b;
}

:root {
  --white-textColor: #fff;
}

:root {
  --lightBlack-textColor: #7b7b7d;
}

/* -------------- */

/* COLOR - UI (ABSOLUTELY UNCHANGED)*/
:root {
  --unchanged-white-UIColor: #fff;
}

:root {
  --unchanged-mainColor-UIColor: #afb42b;
}

/* COLOR - TEXT (ABSOLUTELY UNCHANGED)*/
:root {
  --unchanged-mainBlack-textColor: #00283a;
}

:root {
  --unchanged-lightBlack-textColor: #7b7b7d;
}

:root {
  --unchanged-mainColor-textColor: #afb42b;
}

:root {
  --unchanged-white-textColor: #fff;
}
/* START */
* {
  list-style: none;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: var(--font-family);
}

body {
  /* height: 3000px; */
  background-color: #f4f5f7;
  font-family: var(--font-family) !important;
  font-size: 15px;
  color: var(--unchanged-mainBlack-textColor);
  scroll-behavior: smooth;
}

html {
  font-size: 15px;
}

body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
